#end-menu{
    width: 100%;
    height: 300px;
    border: 1px solid var(--verde);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.colunas{
    border: 1px solid red;
    display: grid;
    place-content: center;
}
.c1{
    color:black !important;
}
